@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}


body {
    position: relative;
    line-height: 1;
}

ul,li,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

nav {
    width: 1000px;
    height: 100px;
    background-color: #999;
}

.menu {
    float: right;
    margin-top: 60px;
}

.menu>li {
    float: left;
}

.menu>li>a {
    width: 150px;
    height: 40px;
    background-color: #eee;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

.menu>li>a:hover {
    color: blue;
}

.sub {
    position: absolute;
    display: none;
}

.sub li {}

.sub li a {
    width: 150px;
    height: 40px;
    background-color: #82889c;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

.sub li a:hover {
    background-color: #686c79;
}

.bg {
    position: absolute;
    top: 100px;
    width: 1000px;
    height: 160px;
    background-color: #82889c;
    display: none;
}